

     /* overflow Cela évitera que l'image dépasse la hauteur définie */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css reset*/
     *{
         font-family: 'Poppins', sans-serif;
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         scroll-behavior: smooth; 
            /*The scroll-behavior property specifies whether to smoothly animate the scroll position, 
    instead of a straight jump*/

     }
     
     
     header {
         background-color: #f0f0f0;
         width: 100%;
         position: fixed;
             /* z index made nav visible when i srcoll*/
         z-index: 999;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px 200px ;
     }
     /* updating the logo Dheker*/
     .logo{
         text-decoration: none;
         color: #3a6cf4;
         text-transform: uppercase;
             /*Bold*/
         font-weight: 700;
         font-size: 1.8em;
     }
     
     .navigation a{
         color: #3a6cf4;
         text-decoration: none;
         font-size: 1.1em;
         font-weight: 500;
         padding-left: 30px;
     }
     
     .navigation a:hover{
         color: #3a6cf4;
     }
     
     section {
         padding: 100px 200px;
     }
     
     .main {
         width: 100%;

          /* vh = viewport  1vh = 1% of viewport height.  The viewport is the visible portion of a web page within the browser window.*/

    /*"vh" units can be particularly useful for creating layouts that adapt well to different screen sizes, such as in responsive web design. Here are some reasons why "vh" units are used:/
    min-height: 100vh;*/

         min-height: 100vh;
         display: flex;
         align-items: center;
         background: url(images/background.jpeg) no-repeat;
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
     }
     .main h2{

        color: #fff;
        font-size: 1.4em;
        font-weight: 500;
     }
     /*span is an inline element*/
     .main h2 span{
        color: #3a6cf4;
        font-weight: 600;
        font-size: 3em;
        display: inline-block;
        margin-top: 5px;
     }
     .main h3{
        color: #fff;
        font-weight: 700;
        font-size: 2em;
        /* spacing between caracters*/
        letter-spacing: 1px;
        margin-top: 3px;
        margin-bottom: 30px;
     }
     /*anchor tag is also an inline block cant give it directly margin or padding*/
     .main-btn{
        text-decoration: none;
        background-color: #3a6cf4;
        font-size: 1.1em;
        color: #fff;
        font-weight: 600;
     display: inline-block;
        letter-spacing: 1px;
        margin-bottom: 40px;
        /*15.6 px*/
        padding: 0.975em   2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
     }
     .main-btn:hover{
        color: #601cfc;
        /*     it increases the size of the element by 10% compared to its original size  */
    transform: scale(1.1); 
    
    



    /*any change in the properties of that element will take 0.7 seconds to complete, and the transition will have a smooth easing effect.

*/
    transition: 0.8s ease;
    }
     .social-icons{
        color:#fff;
        font-size: 1.7em ;

     
     }
     .social-icons a {
        margin-right: 30px;
     }
     /* h2 block element so i can set a height */
     .title{

     display: flex;
     justify-content: center;
     color: #3a6cf4;
     font-size: 2.2em ;
     font-weight: 800;
     margin-bottom: 30px;

     }
     .content{
        display: flex;
        justify-content:center ;
        flex-direction: row;
        flex-wrap: wrap;
         }
         .card{
            background-color: #fff;
            width:21.25em ;
            /* will create a shadow that is directly below the element, 5 pixels below it, with a blur radius of 25 pixels*/


            /* 15 opacity*/
            box-shadow: 0 5px 25px rgba(1 1  1 / 15% );
            border-radius: 10px;
            padding: 25px;
            margin: 15px;
            
         } 
         .card:hover{
            transform: scale(1.1);
            transition: 0.7s ease;
         }
         .icon{
         color: #3a6cf4;  
         font-size:8em ; 
         /*center the text or icon*/
         text-align: center;

         }
         .info h3{
            color: #3a6cf4;
            font-size: 1.3em;
            font-weight: 700;
            margin:10px;
           
         }
         .info{
            text-align: center;
         }
         .projects{

            background-color: black;
         }
        .projects .content{
        margin-top: 30px;


        }
        .project-card {
         background-color: #fff;
         border: 1px solid #fff;
         min-height: 14em;
         width: 20em;
         overflow: hidden;
         border-radius: 10px;
         margin: 20px;
         transition: 0.7s ease;
     }
 .project-card:hover{
         transform: scale(1.1);
        }

       .project-image img{
         width: 100%;
       }

.project-card:hover  .project-image{
       opacity: 0.9;
        }
        .project-info{
         padding: 1em;
        }
        .project-info {
         padding: 1em;
     }
     
.product-category{
   font-size: 0.8em;
   color: #601cfc;
}
.project-title{
   display: flex;
   justify-content: space-between;
text-transform: uppercase;
font-weight: 800;
margin-top:10 px;
}
.more-details{
   text-decoration: none;
   color: #3a6cf4;
}
.contact .icon{

font-size: 4.5em;
   
}
.contact h3{
   color: black;
}
.contact .info p{
   font-size: 1.5em;
   font-weight: 400;
   font-family: sans-serif;
}
.footer{
   background-color: #3a6cf4;
   color: white;
   padding: 2em;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}
.footer-title{
   font-size: 2em;
   font-family: sans-serif;
   font-weight: 500;
}
