

     /* overflow Cela évitera que l'image dépasse la hauteur définie */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css reset*/
     *{
         font-family: 'Poppins', sans-serif;
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         scroll-behavior: smooth; 
            /*The scroll-behavior property specifies whether to smoothly animate the scroll position, 
    instead of a straight jump*/

     }
     
     
     header {
         background-color: #f0f0f0;
         width: 100%;
         position: fixed;
             /* z index made nav visible when i srcoll*/
         z-index: 999;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px 200px ;
     }
     /* updating the logo Dheker*/
     .logo{
         text-decoration: none;
         color: #3a6cf4;
         text-transform: uppercase;
             /*Bold*/
         font-weight: 700;
         font-size: 1.8em;
     }
     
     .navigation a{
         color: #3a6cf4;
         text-decoration: none;
         font-size: 1.1em;
         font-weight: 500;
         padding-left: 30px;
     }
     
     .navigation a:hover{
         color: #601cfc;
     }
     
     section {
         padding: 100px 200px;
     }
     
     .main {
         width: 100%;

          /* vh = viewport  1vh = 1% of viewport height.  The viewport is the visible portion of a web page within the browser window.*/

    /*"vh" units can be particularly useful for creating layouts that adapt well to different screen sizes, such as in responsive web design. Here are some reasons why "vh" units are used:/
    min-height: 100vh;*/

         min-height: 100vh;
         display: flex;
         align-items: center;
         background: url(images/background.jpeg) no-repeat;
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
     }
     